[Unit]
Description=Karton pdf2png PDF page renderer
After=network.target

[Service]
Environment=KARTON_CONFIG_PATH=/etc/karton/karton.ini
Type=simple
WorkingDirectory=/opt/karton-custom/services/custom/pdf2png
ExecStart=/opt/karton-workers-venv/bin/python /opt/karton-custom/services/custom/pdf2png/karton-pdf2png.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
