[Unit]
Description=Karton floss string extractor
After=network.target

[Service]
Environment=KARTON_CONFIG_PATH=/etc/karton/karton.ini
Type=simple
WorkingDirectory=/opt/karton-custom/karton-floss
ExecStart=/opt/karton-workers-venv/bin/python /opt/karton-custom/karton-floss/karton-floss.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
